html {
  background-color: #171A21;
}


p, ul {
  color: #617073;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 20px;
  margin-left: 300px;
  margin-right: 300px;
}


table {
  color: #617073;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 20px;
  margin-left: 300px;
  margin-right: 300px;

  border: 1px solid #617073;
}

h1,h2,h3 {
  color: #748589;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  margin-left: 300px;
  margin-right: 300px;
}

hr {
  color: #7A93AC;
  margin: 20px;
  margin-left: 300px;
  margin-right: 300px;
}

img {
  margin: 20px;
  margin-left: 50px;
}
